<!--Incoming Message-->
<div class="card bg-secondary">
  <div class="card-body">Hey!</div>
</div>

<br>
<!--User Reply    -->
<div class="card bg-light">
  <div class="card-body"><p class = "float-right">Hi!</p></div>
</div>

<br><br>

<!--Text Input Box-->
<div class = "row">
  <div class = "col-8">
    <input type="text" class="form-control form-control-lg" placeholder="Reply">
  </div>
  <div class = "col-3">
    <button type = "button" class = "btn btn-primary">Send</button>
  </div>
</div>

