<p>Sender Index = {{ senderIndex }}</p>

<!--&lt;!&ndash;Incoming Message&ndash;&gt;-->
<!--<div class="card bg-secondary">-->
<!--  <div class="card-body">Hey!</div>-->
<!--</div>-->

<!--<br>-->
<!--&lt;!&ndash;User Reply    &ndash;&gt;-->
<!--<div class="card bg-light">-->
<!--  <div class="card-body"><p class = "float-right">Hi!</p></div>-->
<!--</div>-->

<!--<br><br>-->

<!--&lt;!&ndash;Text Input Box&ndash;&gt;-->
<!--<div class = "row">-->
<!--  <div class = "col-8">-->
<!--    <input type="text" class="form-control form-control-lg" placeholder="Reply">-->
<!--  </div>-->
<!--  <div class = "col-3">-->
<!--    <button type = "button" class = "btn btn-primary">Send</button>-->
<!--  </div>-->
<!--</div>-->

